[Unit]
Description=TheAdoringBot
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/TheAdoringBot
ExecStart=/root/.nvm/versions/node/v20.1.0/bin/node src/app.js

[Install]
WantedBy=multi-user.target

